.DS_Store
.git
.gitignore
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
blog_figures
data_processing.ipynb
network.ipynb
predictions.ipynb
stat_prediction_model.h5
stat_prediction_model.keras
tests
training.csv

